version: "3"

services:
  qaadmin-server:
    build: .
    ports:
      - "5000:5000"
    links:
      - mongo-test
    depends_on:
      - mongo-test

  mongo:
    image: "mongo:4"
    ports:
      - "27017:27017"
    volumes:
      - qaadmin-data:/data/db

volumes:
  qaadmin-data:
